--
-- PostgreSQL database dump
--

\restrict 7f195EyupREM3IuY2JIo8EfSX8j3C4gX6auBnW3L1YNWlFo7FFmzlcA5jZ94dBj

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.attendance (
    id integer NOT NULL,
    student_id integer,
    date date NOT NULL,
    status character varying(10) NOT NULL,
    CONSTRAINT attendance_status_check CHECK (((status)::text = ANY ((ARRAY['present'::character varying, 'absent'::character varying])::text[])))
);


ALTER TABLE public.attendance OWNER TO earlyflag;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendance_id_seq OWNER TO earlyflag;

--
-- Name: attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.attendance_id_seq OWNED BY public.attendance.id;


--
-- Name: engagement; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.engagement (
    id integer NOT NULL,
    student_id integer,
    date date NOT NULL,
    flag_type character varying(50) NOT NULL,
    notes text
);


ALTER TABLE public.engagement OWNER TO earlyflag;

--
-- Name: engagement_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.engagement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.engagement_id_seq OWNER TO earlyflag;

--
-- Name: engagement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.engagement_id_seq OWNED BY public.engagement.id;


--
-- Name: fees; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.fees (
    id integer NOT NULL,
    student_id integer,
    due_date date NOT NULL,
    amount numeric(10,2) NOT NULL,
    paid_status character varying(10) NOT NULL,
    paid_date date,
    CONSTRAINT fees_paid_status_check CHECK (((paid_status)::text = ANY ((ARRAY['paid'::character varying, 'unpaid'::character varying])::text[])))
);


ALTER TABLE public.fees OWNER TO earlyflag;

--
-- Name: fees_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.fees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fees_id_seq OWNER TO earlyflag;

--
-- Name: fees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.fees_id_seq OWNED BY public.fees.id;


--
-- Name: interventions; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.interventions (
    id integer NOT NULL,
    student_id integer,
    action_taken text NOT NULL,
    date date DEFAULT CURRENT_DATE,
    outcome text
);


ALTER TABLE public.interventions OWNER TO earlyflag;

--
-- Name: interventions_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.interventions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interventions_id_seq OWNER TO earlyflag;

--
-- Name: interventions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.interventions_id_seq OWNED BY public.interventions.id;


--
-- Name: marks; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.marks (
    id integer NOT NULL,
    student_id integer,
    subject character varying(50) NOT NULL,
    term character varying(20) NOT NULL,
    score numeric(5,2) NOT NULL,
    max_score numeric(5,2) DEFAULT 100
);


ALTER TABLE public.marks OWNER TO earlyflag;

--
-- Name: marks_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.marks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marks_id_seq OWNER TO earlyflag;

--
-- Name: marks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.marks_id_seq OWNED BY public.marks.id;


--
-- Name: risk_scores; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.risk_scores (
    id integer NOT NULL,
    student_id integer,
    score numeric(5,2) NOT NULL,
    level character varying(10) NOT NULL,
    reason_codes jsonb NOT NULL,
    sub_scores jsonb NOT NULL,
    computed_at timestamp without time zone DEFAULT now(),
    CONSTRAINT risk_scores_level_check CHECK (((level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying])::text[])))
);


ALTER TABLE public.risk_scores OWNER TO earlyflag;

--
-- Name: risk_scores_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.risk_scores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.risk_scores_id_seq OWNER TO earlyflag;

--
-- Name: risk_scores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.risk_scores_id_seq OWNED BY public.risk_scores.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: earlyflag
--

CREATE TABLE public.students (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    class character varying(20),
    section character varying(10),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.students OWNER TO earlyflag;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: earlyflag
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO earlyflag;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: earlyflag
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: attendance id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.attendance ALTER COLUMN id SET DEFAULT nextval('public.attendance_id_seq'::regclass);


--
-- Name: engagement id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.engagement ALTER COLUMN id SET DEFAULT nextval('public.engagement_id_seq'::regclass);


--
-- Name: fees id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.fees ALTER COLUMN id SET DEFAULT nextval('public.fees_id_seq'::regclass);


--
-- Name: interventions id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.interventions ALTER COLUMN id SET DEFAULT nextval('public.interventions_id_seq'::regclass);


--
-- Name: marks id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.marks ALTER COLUMN id SET DEFAULT nextval('public.marks_id_seq'::regclass);


--
-- Name: risk_scores id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.risk_scores ALTER COLUMN id SET DEFAULT nextval('public.risk_scores_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: earlyflag
--



--
-- Data for Name: engagement; Type: TABLE DATA; Schema: public; Owner: earlyflag
--



--
-- Data for Name: fees; Type: TABLE DATA; Schema: public; Owner: earlyflag
--



--
-- Data for Name: interventions; Type: TABLE DATA; Schema: public; Owner: earlyflag
--

COPY public.interventions (id, student_id, action_taken, date, outcome) FROM stdin;
\.


--
-- Data for Name: marks; Type: TABLE DATA; Schema: public; Owner: earlyflag
--



--
-- Data for Name: risk_scores; Type: TABLE DATA; Schema: public; Owner: earlyflag
--

COPY public.risk_scores (id, student_id, score, level, reason_codes, sub_scores, computed_at) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: earlyflag
--



--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.attendance_id_seq', 420, true);


--
-- Name: engagement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.engagement_id_seq', 11, true);


--
-- Name: fees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.fees_id_seq', 15, true);


--
-- Name: interventions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.interventions_id_seq', 1, false);


--
-- Name: marks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.marks_id_seq', 60, true);


--
-- Name: risk_scores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.risk_scores_id_seq', 1, false);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: earlyflag
--

SELECT pg_catalog.setval('public.students_id_seq', 15, true);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: engagement engagement_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.engagement
    ADD CONSTRAINT engagement_pkey PRIMARY KEY (id);


--
-- Name: fees fees_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_pkey PRIMARY KEY (id);


--
-- Name: interventions interventions_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.interventions
    ADD CONSTRAINT interventions_pkey PRIMARY KEY (id);


--
-- Name: marks marks_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_pkey PRIMARY KEY (id);


--
-- Name: risk_scores risk_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.risk_scores
    ADD CONSTRAINT risk_scores_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: engagement engagement_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.engagement
    ADD CONSTRAINT engagement_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: fees fees_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: interventions interventions_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.interventions
    ADD CONSTRAINT interventions_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: marks marks_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: risk_scores risk_scores_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: earlyflag
--

ALTER TABLE ONLY public.risk_scores
    ADD CONSTRAINT risk_scores_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 7f195EyupREM3IuY2JIo8EfSX8j3C4gX6auBnW3L1YNWlFo7FFmzlcA5jZ94dBj

